@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif, Arial;
}

h1.justify, h2.justify, h3.justify, h4.justify, h5.justify, h6.justify, div.justify {
  text-align:justify;
}

p.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, div.center {
  text-align:center;
}

div.bg-dark-light, li.bg-dark-light, a.bg-dark-light {
  background-color: #262a2c;
}

body.bg-dark-light {
  background-color: #394247;
}

.flex-together {
  display:flex;
}

div.flex-together > * {
  flex-grow: 1;
}

div.v-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.outlined-text.black {
	color: #fff;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.outlined-text.white {
	color: #000;
	font-size: 40px;
	text-shadow: -1px 1px 2px #fff,
				  1px 1px 2px #fff,
				  1px -1px 0 #fff,
				  -1px -1px 0 #fff;
}

.red-hover {
  transition: 0.3s;
}

a.red-hover:hover{
  background-color:#d41e1e !important;
}
